node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# environment variables
.env

# Ignore Visual Studio folders
.vs/
*.user
*.suo
*.db
*.cache

# Ignore build artifacts
node_modules/
dist/
build/
